/.phpunit.cache
/node_modules
/public/build
/config/webkernel.php
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/lang/*
.env
.env.backup
.env.production
composer.json.backup
composer.lock
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
